// sass --watch --debug-info --sourcemap scss/main.scss:css/main.css
// sass --update --style compressed scss/main.scss:css/main-min.css

// Normalize.css
@import "normalize";

// Typekit
//@import("typekit");

// WordPress Styles
@import "wp-styles";

// Magnific popup
@import "magnific-popup";

// Normalize.css
@import "vars";

// Base
@import "base";

// Layout
@import "layout";

// Modules
@import "modules";

// Helpers
@import "helpers";


.site-title {
	color: red;
	font-size: 40px;
}

.page-title {
	color: green;
	font-size: 30px;
}

.entry-title {
	color: orange;
	font-size: 20px;
}
